// -- REACT-BEAUTIFUL-DND -------
.board-list-item-dnd {
  align-items: center;
  border: none;
  border-radius: 50%;
  color: $off-white;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: 9rem;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.2rem;
  width: 9rem;
}

// ------ BOARD GENERIC --------
.board-list-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-item {
  background: $off-white;
  flex: 1 1 auto;
  font-size: 10px;
  height: 95vh;
  margin-left: 1rem;
  max-width: 10vw;
  padding: 2rem 0.5rem;
}

.board-list-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.3rem 1.5rem 0.3rem;
}

.board-list-item-header__letter {
  margin: 0.2rem;
  padding-left: 0.5rem;
}

.board-list-item-header__table-number {
  flex-grow: 1;
  margin: 1rem;
}

.board-list-item-header__time-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.board-list-item-header__time {
  margin: 0;
  text-align: end;
}

.board-list__course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 83vh;
}

.board-list__course {
  background: $off-white;
  border: 1px solid $grey;
  font-size: $font-size-docket;
  margin: .3rem;
  padding: 0.7rem;
}

.board-list__course-name {
  visibility: hidden;
}

.board-list__item-container-done {
  visibility: hidden;
}

.board-list__item {
  font-weight: 600;
  margin-bottom: .4rem;
}

.board-list-item-info-quantity__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.board-list-item-info-quantity__quantity {
  border: 1px solid $grey;
  border-radius: $radius;
  padding: 0.4rem;
}

.board-list-item-info-quantity__info {
  padding-left: 1rem;
}

.board-list__info-container-done {
  visibility: hidden;
}

.border-red {
  border: 0.2rem solid $red;
}

.border-blue {
  border: 0.2rem solid $blue;
}

.border-green {
  border: 0.2rem solid $green;
}