// ------ BOARD GENERIC - DND -------
.boards-container {
  width: 100%;

}

.board-list-container {
  background: $off-white;
  border: 0.2rem solid lightgrey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 44vh;
  margin-bottom: 0.8rem;
  margin-left: .7rem;
  width: 80vw;
}

.board-list {
  align-items: center;
  display: flex;
  height: 25rem;
  flex-grow: 1;
  max-width: 80vw;
  overflow-x: scroll;
  padding-left: 0.5rem;
  padding-bottom: 6rem;
  width: 79.6vw;
}

.board-list-item-dnd {
  align-items: center;
  border: none;
  border-radius: 50%;
  color: $off-white;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: 9rem;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.2rem;
  width: 9rem;
}

// ------ BOARD A -------

.board-list-a-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-a-item {
  background: $off-white;
  flex: 1 1 auto;
  font-size: 10px;
  height: 95vh;
  margin-left: 1rem;
  max-width: 10vw;
  padding: 2rem 0.5rem;
}

.board-list-a-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.3rem 1.5rem 0.3rem;
}

.board-list-a-item-header__letter {
  margin: 0.2rem;
  padding-left: 0.5rem;
}

.board-list-a-item-header__table-number {
  flex-grow: 1;
  margin: 1rem;
}

.board-list-a-item-header__time {
  padding-right: 0.5rem;
}

.board-list-a__course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 83vh;
}

.board-list-a__course {
  background: $off-white;
  border: 1px solid $grey;
  font-size: $font-size-docket;
  margin: .3rem;
  padding: 0.7rem;
}

// ------ BOARD B -------

.board-list-b-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-b-item {
  background: $off-white;
  flex: 1 1 auto;
  font-size: 10px;
  height: 95vh;
  margin-left: 1rem;
  max-width: 10vw;
  padding: 2rem;
}

.board-list-b-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.3rem 1.5rem 0.3rem;
}

.board-list-b-item-header__table-number {
  flex-grow: 1;
  margin: 1rem;
}

.board-list-b-item-header__letter {
  margin: 0.2rem;
  padding-left: 0.5rem;
}

.board-list-b-item-header__time {
  padding-right: 0.5rem;
}

.board-list-b__course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 83vh;
}

.board-list-b__course {
  background: $off-white;
  border: 1px solid $grey;
  font-size: $font-size-docket;
  margin: .3rem;
  padding: 0.7rem;
}

// ------ BOARD C -------

.board-list-c-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-c-item {
  background: $off-white;
  flex: 1 1 auto;
  font-size: 10px;
  height: 95vh;
  max-width: 10vw;
  padding: 2rem 0.5rem;
}

.board-list-c-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.3rem 1.5rem 0.3rem;
}

.board-list-c-item-header__table-number {
  flex-grow: 1;
  margin: 1rem;
}

.board-list-c-item-header__letter {
  margin: 0.2rem;
  padding-left: 0.5rem;
}

.board-list-c-item-header__time {
  padding-right: 0.5rem;
}

.board-list-c__course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 83vh;
}

.board-list-c__course {
  background: $off-white;
  border: 1px solid $grey;
  font-size: $font-size-docket;
  margin: .3rem;
  padding: 0.7rem;
}

.border-red {
  border: 0.2rem solid $red;
}

.border-blue {
  border: 0.2rem solid $blue;
}

.border-green {
  border: 0.2rem solid $green;
}