.course-item {
  background: $orange;
  border-radius: $radius;
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.course-item__container {
  display: flex;
  flex-direction: columns;
}

.course-item__quantity {
  align-items: center;
  background: $dark-blue;
  border-radius: $radius;
  color: $off-white;
  display: flex;
  justify-content: center;
  margin: 0.4rem;
  padding: 0 1rem;
}

.course-item__name {
  align-items: center;
  background: $off-white;
  border-radius: $radius;
  color: $dark-blue;
  display: flex;
  justify-content: center;
  margin: 0.4rem;
  padding: 0.4rem;
}