.order-list {
  background: $grey;
  border-radius: $radius;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 77rem;
  justify-content: flex-start;
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem;
}

.list-item {
  background: $off-white;
  display: flex;
  padding: 0.1rem;
  flex-direction: row;
  justify-content: space-between;
}

.list__heading {
  color: $off-white;
  font-weight: 300;
  text-align: center;
}

.new-orders-list-container {
  background: $off-white;
  border: 0.2rem solid lightgrey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 71.4rem;
  min-height: 71.4rem;
  padding-bottom: 1rem;
  width: 99vw;
}

.new-orders-list {
  flex-grow: 1;
  display: flex;
  padding: 2rem;
  overflow: hidden;
  overflow-x: scroll;
  width: 95vw;
}

.new-orders-list-item-dnd {
  align-items: center;
  border: none;
  border-radius: $radius;
  color: $off-white;
  display: flex;
  justify-content: center;
  margin-bottom: 0.4rem;
  min-height: 4rem;
  min-width: 10rem;
  margin-right: 1rem;
  width: 19rem;
}

.drag-handle {
  background: $grey;
  border: none;
  border-radius: $radius;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
  width: 4rem;
}