.order-list {
  background: $grey;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 70rem;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem;
}

.list-item {
  background: $off-white;
  padding:0.1rem;

}