.ReactModalPortal > div {
  opacity: 0;
}

.modal {
  background: $off-white;
  color: $dark-blue;
  max-width: 50rem;
  outline: none;
  padding: $l-size;
  text-align: left;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalPortal .ReactModal__Overlay {
  // make the Modal scrollable 
  overflow-y: auto !important;
  transition: opacity 200ms ease-in-out;
}

// .ReactModalPortal .ReactModal__Overlay {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: opacity 200ms ease-in-out;
//   padding-top: 20rem;
// }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}