.order-meta-details {
  background: $light-grey;
  border-radius: $radius;
  margin: 0.5rem;
  padding: 0.4rem;
}

.order-meta-details__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-modal__container {
  background: $off-white;
  border-radius: $radius;
  padding: 4rem;
  margin-bottom: 4rem;
}