.boards-container {
  width: 100%;

}

.board-list-container {
  background: $off-white;
  border: 0.2rem solid lightgrey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 45rem;
  margin-left: 1rem;
  width: 90rem;
}

.board-list {
  display: flex;
  padding: 2rem;
  min-height: 25rem;
  flex-grow: 1;
}

.board-list-item-dnd {
  align-items: center;
  border: none;
  border-radius: 50%;
  color: $off-white;
  display: flex;
  flex-direction: row;
  font-size: 5rem;
  height: 6rem;
  justify-content: center;
  margin: 0 0.5rem;
  min-height: 15rem;
  min-width: 15rem;
  padding: 0.2rem;
  width: 5rem;
}

.board-list-a-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-a-item {
  background: $off-white;
  font-size: 10px;
  margin-left: 2rem;
  padding: 2rem;
}

.board-list-a-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-list-a-item-header__table-number {
  flex-grow: 2;
  margin: 1rem;
}

.board-list-a-item-header__letter {
  flex-grow: 1;
  margin: 0.2rem;
}





.demo-fit-text {
  font-size: .5vw;
}

.demo-course-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}








.board-list-b-container {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board-list-b-item {
  background: $off-white;
  font-size: 10px;
  margin-left: 2rem;
  padding: 2rem;
}

.board-list-b-item-header__container {
  align-items: center;
  background: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-list-b-item-header__table-number {
  flex-grow: 2;
  margin: 1rem;
}

.board-list-b-item-header__letter {
  flex-grow: 1;
  margin: 0.2rem;
}