// we use 'rem' scaling units, 1rem = 16px

// universal selector
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // conversion factor = 1rem(16px) * 0.625 = 10px
}

body {
  background:$light-grey;
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size; // (16px)
  height: 100%;
  line-height: 1.6;
  overflow: hidden;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
