// colors
$dark-grey: #333333;
$light-grey: #e0dfde;
$grey: #666;
$off-white: #f7f7f7;
$off-black: #20222b;
$light-blue: #464b53;
$sky-blue: #99e6ff;
$dark-blue: #364051;
$blue: #25B3F0;
$yellow: #ffff66;
$green: #00e673;
$orange: #ff8c00;


// font size
$font-size-large:1.8rem;
$font-size-small:1.4rem;

// sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;