
.AppOne {
  text-align: center;
  background: #00e673;
}

.AppOne-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppOne-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.AppOne-title {
  font-size: 1.5em;
}

.AppOne-intro {
  font-size: large;
}

@keyframes AppOne-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}